.first-section {
  margin: 10%;
  box-shadow: 10px 10px 5px rgb(69, 69, 69);
}

.first-holder,
.second-holder,
.todoTasks {
  display: flex;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgb(76, 75, 75);
}

.title {
  font-weight: 600;
  font-size: large;
}

.last-holder {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  border: 1px solid rgb(76, 75, 75);
  background-color: rgb(219, 219, 219);
}

#text-section {
  border: 0 solid white;
  font-size: large;
  font-style: italic;
  width: 90%;
}

#text-section:focus {
  outline: none;
}

.task {
  font-size: large;
}

.todoTasks > i {
  cursor: move;
}
